.home__header{
    display: flex;
    justify-content: center;
}

.text{
    display: flex;
    justify-content: center;
}

.input__field{
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.track__button{
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.track__buttonel{
    color: red;
}

.user__section{
    margin-top:90px;
}